ETCD_LISTEN_PEER_URLS="https://{{ ansible_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_host }}:2379"
ETCD_NAME={{ inventory_hostname }}
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ansible_host }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ansible_host }}:2379"
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd'] -%}{{ host }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last -%},{% endif %}{%- endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-1"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_CERT_FILE="/etc/ssl/etcd/etcd.crt"
ETCD_KEY_FILE="/etc/ssl/etcd/etcd.key"
ETCD_TRUSTED_CA_FILE="/etc/ssl/etcd/etcd-ca.crt"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_PEER_CERT_FILE="/etc/ssl/etcd/etcd.crt"
ETCD_PEER_KEY_FILE="/etc/ssl/etcd/etcd.key"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="/etc/ssl/etcd/etcd-ca.crt"
