127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4

{% for host in groups['all'] %}
{%- if host != 'localhost' %}
{{ hostvars[host]['ansible_host'] }} {{ host }}
{% endif %}
{% endfor %}
